.plain_text {
    
}

.note {
    background-color:#CCCCCC;
}

.plain_bullet {
    list-style-type: disc;
}

.lettered_bullet {
    list-style-type: lower-alpha;
}

.numbered_bullet {
    list-style-type: decimal;
}



/* bigger font in tinymce */
/* TinyMCE specific rules */



body.mceContentBody {
    font-size:0.8em;
    background-color:#fff;
    padding:5px;
    line-height:135%;
}
