/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a { color: #9D6A0A; font-weight:bold;font-size: 14px;text-decoration:none; padding-left: 5px;padding-right:5px;}
a:visited { color: #9D6A0A; font-weight:bold;font-size: 14px;  padding-left: 5px;padding-right:5px;}
a:hover { color: #F1EEE3; background-color:#9D6A0A; font-weight:bold;font-size: 14px; padding-left: 5px;padding-right:5px; }

body {

  /*background-color: #eee8aa !important; */ /*pale goldenrod */
  background-color: 	#F1EEE3 !important; 
  color: #9D6A0A; 
}

#navigation li {
  display:inline;
  list-style-type: none;
  padding-right:20px;
}



#content{padding-left: 30px;padding-right: 10px;width:900px;}
#navigation{padding-left: 30px;padding-right:10px;border-bottom: 1px solid #efefef;border-top: 1px solid #efefef;}
#paragraph_content{padding-left: 30px;, padding-right: 10px;}
#paragraph_content p{width: 600px;}

table.MsoNormalTable {width:400px !important;}

.plain_text {
    
}

.note {
    background-color:#CCCCCC;
}

.plain_bullet {
    list-style-type: disc;
}

.lettered_bullet {
    list-style-type: lower-alpha;
}

.numbered_bullet {
    list-style-type: decimal;
}



/* bigger font in tinymce */
/* TinyMCE specific rules */



body.mceContentBody {
    font-size:0.8em;
    background-color:#fff;
    padding:5px;
    line-height:135%;
}


#flash_notice {
  background-color: #FFF8C6;
  border: solid 1px #FFA500;
  color: #FFA500;
  padding:5px;
  font-size:16px;
  padding-left:10px;
}

#flash_info {
  background-color: #EFE;
  border: solid 1px #347235;
  color: #347235;
  padding:5px;
  font-size:16px;
  padding-left:10px;
}

#flash_error, #flash_alert {
  background-color: #FDD;
  color:	#C11B17;
  border: solid 1px 	#C11B17;
  padding:5px;
  font-size:16px;
  padding-left:10px;
}

.field input[type="text"], .field textarea, .field input[type="password"]
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 200px;
}

.field label
{
    font-family: Arial, Sans-Serif;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline;
    padding: 4px;
    width: 300px;
}

#books{
    margin-top:15px;
}
